# Libraries

In [15]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# Import

In [ ]:
'''import and remove extra columns'''

prices = pd.read_pickle("../FuelPrices/cleanedprices.pkl")
prices.iloc[:,:3]

          Date  GasolinePrices  DieselPrices
53  1995-01-01           1.130         1.098
54  1995-02-01           1.120         1.088
55  1995-03-01           1.119         1.088
56  1995-04-01           1.157         1.104
57  1995-05-01           1.225         1.126
..         ...             ...           ...
372 2021-08-01           3.255         3.350
373 2021-09-01           3.272         3.384
374 2021-10-01           3.384         3.612
375 2021-11-01           3.491         3.727
376 2021-12-01           3.406         3.641

[324 rows x 3 columns]

In [ ]:
''' Verify Prices Data'''

prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 324 entries, 53 to 376
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               324 non-null    datetime64[ns]
 1   GasolinePrices     324 non-null    float64
 2   DieselPrices       324 non-null    float64
 3   Z_Gasoline_Prices  324 non-null    float64
 4   Z_Diesel_Prices    324 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 15.2 KB

# need inflation data merged into prices before can proceed

In [ ]:
''''''