# Libraries

In [54]:
import pandas as pd
import numpy as np

# Import

In [ ]:
'''Connects to Google Drive to load in data'''

# '''
# Connect to and mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Find the dataset in google drive and assign path to variable called 'Match'
fueleconomy = glob.glob('/content/drive/MyDrive/**/cleanedfueleconomy.pkl', recursive=True)
registrations = glob.glob('/content/drive/MyDrive/**/cleanedregistrations.pkl', recursive=True)
consumption = glob.glob('/content/drive/MyDrive/**/cleanedconsumption.pkl', recursive=True)
print("Found paths:", fueleconomy, registrations, consumption)

# Using 'Match' load in the dataset using the path and skip the first 2 rows
path = fueleconomy[0]
fueleconomy = pd.read_pickle(path)
path = registrations[0]
registrations = pd.read_pickle(path)
path = consumption[0]
consumption = pd.read_pickle(path)
# '''

'''
fueleconomy = pd.read_pickle("../FuelEconomy/cleanedfueleconomy.pkl")
registrations = pd.read_pickle("../VehicleRegistrations/cleanedregistrations.pkl")
consumption = pd.read_pickle("../ConsumptionData/cleanedconsumption.pkl")
'''

In [56]:
''' Drop Unneeded Columns and Rename Needed Columns if Needed'''
fueleconomy = fueleconomy.iloc[:, :6]
registrations = registrations.iloc[:, :4]
consumption = consumption.iloc[:, :2]
consumption.columns = ["Date", "Gasoline_Consumption(Millions of Gallons)"]

In [57]:
consumption.info()
print("\n")
fueleconomy.info()
print("\n")
registrations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 324 entries, 600 to 923
Data columns (total 2 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Date                                       324 non-null    datetime64[ns]
 1   Gasoline_Consumption(Millions of Gallons)  324 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.6 KB


<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 7 to 33
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27 non-null     datetime64[ns]
 1   Car           27 non-null     float64
 2   Car SUV       27 non-null     float64
 3   Pickup truck  27 non-null     float64
 4   Van           27 non-null     float64
 5   Truck SUV     27 non-null     float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 1.5 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      27 non-null     datetime64[ns]
 1   Automobile_Registrations  27 non-null     float64
 2   Motorcycle_Registrations  27 non-null     float64
 3   Licensed_Drivers          27 non-null     float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 996.0 bytes

In [ ]:
# Convert 'Date' to Year and extract the year
consumption['Year'] = consumption['Date'].dt.year

# Group by Year and sum the gasoline consumption
consumption = (
    consumption
    .groupby('Year', as_index=False)['Gasoline_Consumption(Millions of Gallons)']
    .sum()
    .rename(
        columns={
            'Gasoline_Consumption(Millions of Gallons)':
            'AnnualConsumption(Millions of Gallons)'
        }
    )
)

In [59]:
consumption.info()
print("\n")
fueleconomy.info()
print("\n")
registrations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Year                                    27 non-null     int32
 1   AnnualConsumption(Millions of Gallons)  27 non-null     float64
dtypes: float64(1), int32(1)
memory usage: 456.0 bytes


<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 7 to 33
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27 non-null     datetime64[ns]
 1   Car           27 non-null     float64
 2   Car SUV       27 non-null     float64
 3   Pickup truck  27 non-null     float64
 4   Van           27 non-null     float64
 5   Truck SUV     27 non-null     float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 1.5 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      27 non-null     datetime64[ns]
 1   Automobile_Registrations  27 non-null     float64
 2   Motorcycle_Registrations  27 non-null     float64
 3   Licensed_Drivers          27 non-null     float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 996.0 bytes

# Merge

# in progress

        Year  Car  Car SUV  Pickup truck  Van  Truck SUV  \
0 1970-01-01  NaN      NaN           NaN  NaN        NaN
1 1970-01-01  NaN      NaN           NaN  NaN        NaN
2 1970-01-01  NaN      NaN           NaN  NaN        NaN
3 1970-01-01  NaN      NaN           NaN  NaN        NaN
4 1970-01-01  NaN      NaN           NaN  NaN        NaN

   Automobile_Registrations  Motorcycle_Registrations  Licensed_Drivers  \
0                       NaN                       NaN               NaN
1                       NaN                       NaN               NaN
2                       NaN                       NaN               NaN
3                       NaN                       NaN               NaN
4                       NaN                       NaN               NaN

   AnnualConsumption(Millions of Gallons)
0                              119399.952
1                              121294.068
2                              122898.216
3                              126524.832
4                              129244.122